.fl {
	float:left;
}
.fr {
	float:right;
}
.clearfix {
    zoom: 1;
}
.clearfix:before , .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:before {
    clear: both;
}
.main{
	margin-left:180px;
}